<!--name : Hetu Shiroya
  Student id: 301204148
  Date: 10/28/2021 
  Mid Term*/ -->

<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

                <div class="form-group">
                    <label for="bookTextField">Title</label>
                    <strong><%= book.name %></strong>
                </div>
                <div class="form-group">
                    <label for="bookTextField">Description</label>
                    <strong><%= book.description %></strong>
                </div>
                <div class="form-group">
                    <label for="statusTextField">Price</label>
                    <strong>$<%= book.price %></strong>                    
                </div>
                <div class="form-group">
                    <label for="bookTextField">Author</label>
                    <strong><%= book.author %></strong>
                </div>
                <div class="form-group">
                    <label for="bookTextField">Genre</label>
                    <strong><%= book.genre %></strong>
                </div>
                <br />
                
                <a href="/book-list/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>